* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: "Comic Neue", cursive;
    scroll-behavior: smooth;
}

header {
    background-image: url("../images/Avengers2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: "Comic Neue", cursive;
    display: block;
    margin-bottom: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Comic Neue", cursive;
}

hr {
    color: white;
    width: 70%;
    display: inline-block;
}

main {
    margin: 50px 120px;
    padding: 30px;
    margin-top: 0;
    padding-top: 0;
    z-index: 999;
    position: relative;
}

main section:first-of-type {
    margin-top: 0;
}

textarea {
    resize: vertical;
}

.important {
    color: #8831d0;
}

a {
    color: #8831d0;
}

a:hover {
    color:#8831d0;
}

.aktivna-strana {
    color:#8831d0;
}

header svg {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: -100px;
}

@media (min-width: 2000px) {
    header svg {
        bottom: -150px;
    }
}

@media (min-width: 3000px) {
    header svg {
        bottom: -300px;
    }
}

@media (min-width: 4000px) {
    header svg {
        bottom: -400px;
    }
}
@media (min-width: 5000px) {
    header svg {
        bottom: -1000px;
    }
}

/* ========================== header & nav ==========================  */

header {
    position: relative;
}

header #glavni-naslov {
    position: absolute;
    bottom: 150px;
    left: 130px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

header #glavni-naslov hr {
    width: 60%;
}

header #glavni-naslov h2 {
    border-right: solid 3px #8831d0;
    white-space: nowrap;
    overflow: hidden;
}

header #glavni-naslov h2 {
    animation: animated-text 3s steps(26, end) 1s 1 normal both,
        animated-cursor 600ms steps(26, end) infinite;
}

header #glavni-naslov h2.pocetna {
    --page-defined-width: 315px;
}
header #glavni-naslov h2.galerija {
    --page-defined-width: 82px;
}
header #glavni-naslov h2.radnja-filma {
    --page-defined-width: 180px;
}
header #glavni-naslov h2.o-autoru {
    --page-defined-width: 330px;
}
header #glavni-naslov h2.kontakt {
    --page-defined-width: 86px;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: var(--page-defined-width);
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: #8831d0;
    }
    to {
        border-right-color: transparent;
    }
}

#nav-grupa {
    display: flex;
    align-items: center;
    background-color: #191919;
}

nav#glavni-meni {
    margin-left: auto;
}

.logo-button {
    display: inline-block;
    margin-left: 20px;
}

.logo-button img {
    width: 70px;
}

nav#glavni-meni ul {
    width: 100%;
}

nav#glavni-meni ul li {
    display: inline;
    padding: 20px;
    font-size: 20px;
}

nav a {
    color: white;
}

nav#glavni-meni ul li:first-child,
nav#glavni-meni ul a:first-child {
    padding-left: 10px;
}

nav#glavni-meni ul li a {
    padding: 10px;
    text-decoration: underline;
}

#header-autor {
    background-image: url("../images/Avengers1.jpg");
}

#header-galerija {
    background-image: url("../images/wallpaper1.jpg");
}

#header-radnja-filma {
    background-image: url("../images/wallpaper3.jpg");
}

/* ========================== footer ==========================  */

footer {
    background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
}

#footer-wrapper {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
    background-size: 1000px;
}

footer #copyright {
    text-align: center;
}

footer #social-icons ul {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

footer #social-icons i {
    font-size: 25px;
}

footer #social-icons i:hover {
    transform: scale(1.3);
}

footer #copyright .text-wrap {
    padding: 0 20%;
    text-align: center;
}

/* ========================== radnja filma ==========================  */

#radnja-filma .radnja-filma-opis {
    display: flex;
}

#radnja-filma .radnja-filma--tekst p {
    line-height: 25px;
    margin: 15px 0;
}

#radnja-filma .radnja-filma--tekst .first-letter {
    font-size: 30px;
}

#radnja-filma .radnja-filma--slika img {
    width: 400px;
    border-radius: 10px;
    display: block;
    border: 1px solid white;
    animation: grayscale-to-normal 6s ease-in 1s 1 normal both;
}

#radnja-filma .radnja-filma--slika:nth-child(odd) {
    margin-right: 20px;
}

#radnja-filma .radnja-filma--slika:nth-child(even) {
    margin-left: 20px;
}

#radnja-filma .radnja-filma--slika img:hover {
    opacity: 0.5;
}
/* ========================== galerija ==========================  */

#galerija {
    margin-top: 30px;
}

#galerija section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#galerija a {
    display: inline-block;
}

#galerija img {
    height: 250px;
    width: auto;
    animation: grayscale-to-normal 3s ease-in 1s 1 normal both;
}

#galerija img:hover {
    opacity: 0.5;
}

/* ========================== pocetna ==========================  */

#pocetna section {
    margin-bottom: 30px;
}

#pocetna .zanrovi {
    margin: 10px 0;
}

#pocetna span {
    display: inline-flex;
}

#pocetna .zanrovi span {
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

#pocetna .nominacije {
    margin: 20px 0;
    border: 1px solid rgb(245, 197, 24);
    border-radius: 10px;
}

#pocetna .nominacije span:not(:first-child) {
    margin-left: 10px;
}

#pocetna .nominacije .imdb-stil {
    background-color: rgb(245, 197, 24);
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#pocetna .nominacije .imdb-stil a {
    color: black;
}

#pocetna .glumci-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
#pocetna .glumci figcaption p {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

#pocetna .glumci img {
    width: 170px;
    border-radius: 50%;
    animation: grayscale-to-normal 6s ease-in 1s 1 normal both;
}

#pocetna .linkovi-ka-stranicama {
    display: flex;
}

#pocetna .linkovi-ka-stranicama a {
    color: white;
    background: #8831d0;
    width: 50%;
    text-align: center;
    position: relative;
    padding: 80px 0;
    font-size: 20px;
}

#pocetna .linkovi-ka-stranicama .jedan-link {
    background: black;
    overflow: hidden;
    background: #c33764;
    background: -webkit-linear-gradient(
            rgba(29, 38, 113, 0.8),
            rgba(195, 55, 100, 0.8)
        ),
        url("../images/wallpaper2.jpg");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)),
        url("../images/wallpaper2.jpg");
    background-size: cover;
    background-position: center center;
}

#pocetna .linkovi-ka-stranicama .jedan-link:last-child {
    background: -webkit-linear-gradient(
            rgba(29, 38, 113, 0.8),
            rgba(195, 55, 100, 0.8)
        ),
        url("../images/wallpaper3.jpg");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)),
        url("../images/wallpaper3.jpg");
    background-size: cover;
    background-position: center center;
}

#pocetna .linkovi-ka-stranicama .jedan-link:hover {
    background: -webkit-linear-gradient(
        rgba(29, 38, 113, 0.8),
        rgba(195, 55, 100, 0.8)
    );

    background: linear-gradient(
        rgba(29, 38, 113, 0.8),
        rgba(195, 55, 100, 0.8)
    );
}

/* ========================== kontakt ==========================  */

#kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
}

#kontakt h2 {
    text-align: center;
}

#kontakt-forma {
    margin: 40px 0;
}

.kontakt-forma-grupa {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.kontakt-forma-grupa label {
    width: 150px;
    display: inline-block;
}

.kontakt-forma-grupa input[type="text"],
.kontakt-forma-grupa input[type="email"],
.kontakt-forma-grupa textarea {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #8831d0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.kontakt-forma-grupa button {
    background-color: #8831d0;
    color: black;
    border: 1px solid #8831d0;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.kontakt-forma-grupa button:hover {
    background-color: #a53bfb;
    border: 1px solid #a53bfb;
    transform: scale(1.07);
}

/* ========================== o autoru ==========================  */

#oautoru section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#oautoru figcaption {
    margin-top: 10px;
    text-align: center;
}

#oautoru img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    filter: grayscale();
    animation: grayscale-to-normal 4s linear 1s 1 normal both;
}

@keyframes grayscale-to-normal {
    from {
        filter: grayscale();
    }
    to {
        filter: none;
    }
}

#oautoru .oautoru-opis {
    text-align: center;
    padding: 10px 200px;
}

#oautoru .oautoru-opis p {
    margin-bottom: 20px;
}
